name: Run Tests

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22'

      - name: Run unit tests
        run: go test ./internal/lib/random ./internal/http-server/handlers/save ./internal/http-server/handlers/redirect -v 
